@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anna's Pet Store</h1>
    <p class="lead">Thank you for visiting my pet shop. Inventory is for our visitors, while Manage is for our employees! :)</p>
</div>

<div class="row">
</div>